In [2]:
#Libraries we are going to use 
import numpy as np
import pandas as pd

In [2]:
df_user = pd.read_csv('user.csv')
df_user.head(4)

     user_id                  game_title behaviour  value
0  151603712  The Elder Scrolls V Skyrim  purchase    1.0
1  151603712  The Elder Scrolls V Skyrim      play  273.0
2  151603712                   Fallout 4  purchase    1.0
3  151603712                   Fallout 4      play   87.0

In [3]:
# If the behavior is ‘play’, the value associated to it corresponds to the amount of hours played.
# If the behavior is ‘purchase’, the value associated to it is 1, meaning the user purchased the game.

In [4]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_id     200000 non-null  int64
 1   game_title  200000 non-null  object
 2   behaviour   200000 non-null  object
 3   value       200000 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 6.1+ MB

In [6]:
df_user['purchase'] = df_user['behaviour'] == 'purchase'
df_user['purchase'] = df_user['purchase'].astype(int)
df_user['play'] = df_user['behaviour'] == 'play'
df_user['play'] = df_user['play'].astype(int)
df_user['hours'] = df_user['value'] - df_user['purchase']
df_user = df_user.groupby(by=['user_id', 'game_title']).agg({'hours': 'sum', 'purchase': 'sum', 'play': 'sum'}).reset_index()

In [10]:
# Reformotted data for kind of better understanding

In [9]:
df_user.head(4)

   user_id             game_title  hours  purchase  play
0     5250            Alien Swarm    4.9         1     1
1     5250        Cities Skylines  144.0         1     1
2     5250         Counter-Strike    0.0         1     0
3     5250  Counter-Strike Source    0.0         1     0

In [11]:
df_user.to_csv(r'purchase_play.csv',index=None)

In [5]:
dataUsers = pd.read_csv('purchase_play.csv')

testUsers = dataUsers.sample(frac=0.2, replace=False)

trainUsers = dataUsers[~dataUsers.isin(testUsers)].dropna()

testUsers.to_csv(r'user_test.csv')
trainUsers.to_csv(r'user_train.csv')